{% extends 'cadastro/base.html' %}

{% block titulo %}Cadastro{% endblock%}

{% block conteudo %}

<section>

    <h2>Faça Contato</h2>

    {% if total == 0 %}
    
    <p>Ooops! Cadastre alguém primeiro!</p>
    
    {% else %}

    {% for contato in contatos %}
    <ul>
        <li>Nome: {{ contato.nome }}</li>
        <li>E-mail: {{ contato.email }}</li>
        <li>Assunto: {{ contato.idade }}</li>
        <li>Mensagem: {{ contato.mensagem }}</li>
        <li><a href="/contato/{{ contato.id }}">Ver detalhes</a></li>
    </ul>    
    {% endfor %}

    {% endif %}

</section>

{% endblock %}